---
import Key from "./Key.astro";
---

<div class="flex gap-4">
  <Key>Q</Key>
  <Key>W</Key>
  <Key>T</Key>
  <Key>R</Key>
  <Key>T</Key>
  <Key>Y</Key>
  <Key>U</Key>
  <Key>I</Key>
  <Key>O</Key>
  <Key>P</Key>
</div>