---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Wilmer Vasquez | Portfololio">
	<div class="flex items-center p-4">
		<div class="">
			<h1 class="text-5xl font-black">Hi, I'm Wilmer 👋</h1>
			<p>Software engineer. I love developing things and contributing to the university community. I am very active in the MerakT Team.</p>
		</div>
		<img src="" class="w-32 h-32 rounded-full bg-gray-700">
	</div>
	<div class="p-4">
		<h2 class="font-bold text-4xl">About</h2>
		<p class="text-gray-400">At the end of 2022, I quit my job as a software engineer to go fulltime into building and scaling my own SaaS businesses. In the past, I pursued a double degree in computer science and business, interned at big tech companies in Silicon Valley, and competed in over 21 hackathons for fun. I also had the pleasure of being a part of the first ever in-person cohort of buildspace called buildspace sf1.</p>
	</div>
	<div class="p-4">
		<h2 class="font-bold text-4xl">Work Experience</h2>
	</div>
</Layout>

<style>

</style>
