<button class="button-cv">
  <div>
    Download CV
  </div>
</button>
<style>
  .button-cv {
    padding: 1px;
    border-radius: 80px;
		background: linear-gradient(
			135deg, 
			#ffffff33 , 
			hsla(283, 100%, 50%, 0),
      rgba(255, 255, 255, 0.164)
		);
    box-shadow: 0 2px 10px black;
	}
  div {
    background-color: rgba(0, 0, 0);
    padding: 8px 12px;
    border-radius: 80px;
  }
</style>