---

---
<article class="flex gap-3 border border-neutral-800 bg-neutral-900 rounded-2xl overflow-hidden">
  <div class="w-[800px]">
    <img src="https://animated-churros-60739d.netlify.app/projects/svgl.webp" alt="">
  </div>
  <div class="p-3">
    <h2 class="text-2xl font-bold">SVGL - A beautiful library with SVG logos</h2>
    <p class="text-neutral-400 text-sm">Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.</p>
    <div class="flex gap-3 pt-4">
      <a class="flex gap-2 bg-neutral-800 py-2 px-2 pr-4 rounded-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2c2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2a4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6c-.6.6-.6 1.2-.5 2V21"/></svg>
        Code
      </a>
      <button class="flex gap-2 bg-neutral-800 py-2 px-2 pr-4 rounded-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 15l6-6m-4-3l.463-.536a5 5 0 0 1 7.071 7.072L18 13m-5 5l-.397.534a5.07 5.07 0 0 1-7.127 0a4.97 4.97 0 0 1 0-7.071L6 11"/></svg>
        Preview
      </button>
    </div>
  </div>
</article>