---
---

<header class="flex justify-between p-6">
  <div class="flex">
  </div>
  <div class="">
    <ul class="flex flex-wrap gap-4 justify-center justify-items-stretch">
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/experience">Work Experience</a>
      </li>
      <li>
        <a href="">Hard Skills</a>
      </li>
      <li>
        <a href="">Soft Skills</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </div>
  <div></div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
  }
  ul {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.219);
    border-radius: 30px;
    backdrop-filter: blur(20px);
  }

  a {
    padding: 8px 12px;
    border-radius: 30px;
    font-weight: bold;
    display: block;
    color: rgba(255, 255, 255, 0.75);

  }
  a:hover {
    background-color: rgba(255, 255, 255, 0.219);
    color: rgb(255, 255, 255);
  }

</style>