* {
  margin: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #1b1b1b;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
}

.card {
  padding: 2em;
}

#app {
  max-width: 800px;
}

