* {
  margin: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-app: #ebfeff;
  }
  .dark:root {
    --bg-app: #181818;
    color-scheme: light dark;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }
  
  body {
    background-color: var(--bg-app);
    margin: 0;
    display: grid;
    place-items: center;
  }

  .card {
    padding: 2em;
  }

  #app {
    max-width: 800px;
  }
}
